<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.micurso.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_action_account_balance"
        android:label="MisCursos"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.example.micurso.app.Curso"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.example.micurso.app.MenuCurso2"
            android:label="@string/title_activity_menu_curso2" >
        </activity>
        <activity
            android:name="org.example.micurso.app.SendMail"
            android:label="@string/title_activity_send_mail" >
        </activity>
        <activity
            android:name="org.example.micurso.app.MisCursos"
            android:label="@string/title_activity_mis_cursos" >
        </activity>
        <activity
            android:name="org.example.micurso.app.NuevoCurso"
            android:label="@string/title_activity_nuevo_curso" >
        </activity>
    </application>

</manifest>
